<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>books</title>
</head>
<body>
<h1>添加图书</h1>
<form action="addbook" method="get">
    <p>编码：</p>
    <input type="text" name="bid">
    <p>书名：</p>
    <input type="text" name="name">
    <p>作者：</p>
    <input type="text" name="author">
    <p>年龄：</p>
    <input type="text" name="age"><br><br>
    <input type="button" onclick="submit()" value="提交">
</form>
</body>
</html>